{% extends "base.html" %}

{% block app_content %}


<!-- About Me -->

<section class="home-about-area section-gap">

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="col-xl-9 mx-auto">
      <div class="col-lg-3">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='images/t2.jpeg') }}" alt="">
        </div>
      </div>
    </div>

    <h1 class="display-4">About Me</h1>
    <p class="lead">
      I have hands-on experience applying machine learning, and cloud technologies to solve complex business problems. 
      Proven ability to define and execute enterprise-aligned data strategies that drive operational efficiency, enhance customer experience, and improve decision-making. 
      My strength lies in translating complex technical concepts into actionable business insights, fostering alignment across stakeholders at all levels.

     </p>
  </div>
</div>



  <div class="container">
    <h4> Hi! ¡Hola! Salut! </h4>
    <p>
      I am a a Senior Manager in Global Risk Management (GRM) at Scotiabank and the City Lead for <a href="https://www.womeninai.co/", target="_blank"> Women in AI  </a>  London Chapter launching in the Fall. 
      I am passionate about Data Science, supporting women in tech and newcomers in their transition to Canada. 
      I am one of three selected for the GRM  Rotation Program allowing me to experience various aspects of banking. 
      My expertise includes cloud migration, credit risk modeling, defining and executing data strategy, all while bridging communication between technical and business stakeholders. 
      

      <!-- I am originally from Colombia. I arrived in Canada to
        study my Ph.D. at Western University (Faculty of
        Engineering). I was part of the <a href="https://www.uwo.ca/international/iesc/programs/peer_guide_program.html" target="blank">Peer Guide program</a> at UWO for 2 years, helping international students to successfully transition to Canada.
        Now, I am Chapter Coordinator in London for <a href="https://www.canadalearningcode.ca/" target="blank">Canada Learning Code</a>. -->
        <!-- <br> <br> -->
        <!-- One of my key values is lifelong learning, so I am always looking for opportunities to learn new things and to upskill myself. -->
        <br><br>

        During my free time, you will find me taking pictures and learning from the members of <a href="https://www.londoncameraclub.ca/">London Camera Club</a>.
        You can see some of my pictures <a href="https://www.shutterstock.com/g/smlopezz" target="blank">here</a>.

        <br><br>
        <!-- I am looking forward to working as a Data Scientist and I am currently located near London (ON). I am looking for opportunities in London, Toronto or to work remotely. -->
    </p>

    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Power Skills  </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Collaboration & Relationship Building </li>
            <li class="list-group-item"> Data Strategy & Cloud Migration </li>
            <li class="list-group-item"> Leadership </li>
            <li class="list-group-item"> Communication & Public Speaking </li>
            <li class="list-group-item"> Strategic Thinking</li>
            <li class="list-group-item"> Problem Solving </li>
            <li class="list-group-item"> Analytical, Conceptual & Critical Thinking </li>
            <li class="list-group-item"> People Management </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">  My Toolkit  </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <b>Programming & Tools:</b> Python (pandas, scikit-learn, numpy, Scikit-learn, Matplotlib), SQL, SAS, Git </li>
              <li class="list-group-item"> <b> Math, Statistics & Machine Learning: </b> Linear and non-linear regression, decision trees, classification, ANN, segmentation, model monitoring, scorecards, experimental design, response surface methodology, optimization, among others </li>
              <!-- <li class="list-group-item"> Math: statistics, optimization, mathematical modelling, linear and non-linear regression, linear algebra, among others.</li> -->
              <!-- <li class="list-group-item"> Web development: HTML, CSS, JQuery, Flask </li> -->
               <li class="list-group-item"> <b> Cloud & Data Engineering: </b> GCP, BigQuery, DBT, Airflow, REST APIs </li>
              <li class="list-group-item"> <b> Other computational tools: </b> Matlab, Statgraphics </li>
            </ul>
          </div>
          </div>
        </div>

        <div class="row" style="margin-top: 2%;">
         <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">  My Hobbies  </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> Photography, ice skating,  gardening, travelling, computer programming, dog training. </li>

            </ul>
          </div>
         </div>
        </div>

      </div>

    </div>



    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Work Experience  </div>
          <div class="card-body">
            <!-- I have been working at Scotiabank since Mar 2021. Currently, I am one of the three selected
            as part of the Global Risk Management (GRM) Rotation Program. -->

            <ul>  
              <li>Senior Manager at GRM Rotation Program (Mar 2024 - Present) 
                <ul>
                  <li>Data Strategy & Risk Technology - (Sep 2025 - Present)</li>
                  <li>Data Strategy & Analytics, Canadian Contact Center (Serving as Data Product Owner) - (Dec 2024 - Aug 2025) </li>
                  <li>Global Analytics Engineering, Customer Insights, Data & Analytics (CIDA( - (Mar 2024 - Nov 2024) </li>
                </ul>
              </li>

              <li>Data Science Senior Manager, Decisioning Models, GRM  (Nov 2021 - Mar 2024)</li>
              <li>Model Operations Senior Manager, GRM  (Mar 2021 – Nov 2021)</li>
            </ul>

            
          </div>
        </div>
      </div>


    </div>

    
    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My PhD Research  </div>
          <div class="card-body">
              I collaborated as part of a four-person team supporting a Canadian oil 
              and gas company in identifying opportunities for process optimization. 
              Our goal was to increase the economic revenue of their process. 
              My main responsibility was mathematical modelling
              and data analysis of experimental data. I applied machine learning
              techniques to predict phase behavior of complex oil and gas mixtures. 
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Consulting Projects  </div>
          <div class="card-body">
            <i>Lead Developer (Oct 2020 - Mar 2021): </i>
            I was the lead developer of a WebApp
              for a local bus sc hool company. I developed the backend
              of a web-based application that help them track the
              recruiting/training process more efficiently.
              For that I used different tools, such as HTML, CSS,
              JQuery, MySQL and Python (Flask).
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Volunteer Experience  </div>
          <div class="card-body">
            <ul>  
              <li>City Lead for London Chapter at Women in AI (Mar 2025 - Present)</li>
              <li>Lead for the Group Mentorship Program at Women in Leadership Employee Resource Group at Scotiabank (Feb 2022 - Present)</li>
              <li>Mentor for Northwest London Resource Centre (2024), 
                Rotman Business Analytics Club (2024), 
                Hispanotech (2022, 2023, 2024),
                ElleHacks (2023) </li>
              <li> Committee member for TMLS Women (2023) </li>
              <li> Chapter Coordinator at Canada Learning Code (Aug 2019 - Oct 2021)
                <!-- I was Chapter Coordinator for London, where
              I helped organizing in-person and online events to advocate
              for coding learning in Canada. I was also a mentor
              in many of those events, interacting with the learners and
              helping them solve issues and have a wonderful learning
              experience. -->
              </li> 
            </ul>
            
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Previous Awards & Competitions  </div>
          <div class="card-body">
            Scotiabank:
            <ul>  
              <li> 2025 - Finalists of CIDA's Hackathon at Scotiabank - AI Agents (Sep 2025).</li>
              <li> 2022 - Best of the Best: Culture Catalyst Award.</li>
            </ul>
            Microsoft Competitions:
            <!--Discover AI and Upskilling Journey. During the 2020 Microsoft Discover AI Challenge we were top 3 of our category.
            In the MS Upskilling Journew we won the 6th Sprint, and we won the audice award for the second sprint.-->
            <ul>
              <li> 2020 - Winners of 6th Sprint - Microsoft AI Discover Upskilling Challenge (May - Aug 2020).</li>
              <li> 2020 - Top 3 - 2020 Microsoft Discover AI Challenge: Smarter and Sustainable Economies (Feb - May 2020). </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    

    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Publications  </div>
          <div class="card-body">
            I have published my research in different journals
            <br><br>
            <ul>
              <li> 2023 - <a href="https://www.mdpi.com/2227-9717/11/7/2026" target="_blank">
                Artificial Neural Networks (ANNs) for Vapour-Liquid-Liquid Equilibrium (VLLE) Predictions in N-Octane/Water Blends </a>
                <br>
                Application of <b>Artificial Neural Networks (ANNs)</b> to predict phase behavior of n-octane/water blends
              </li>

              <li> 2022 - <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/cjce.24230" target="_blank">
                Vapour–liquid–liquid and vapour–liquid equilibrium of paraffinic aromatic synthetic naphtha/water blends: Prediction of the number of phases </a>
                <br>
                Application of thermodynamic models (NRTL, UNIQUAC, and PC-SAFT) and <b>Machine Learning (KNN, SVM) </b> to predict phase behavior of PASN/water blends. Student's t-test was used to was employed to statistically differentiate experimental results between two-phase and three-phase regions.
              </li>
              
              <li> 2022 - <a href="https://www.mdpi.com/2227-9717/10/4/710" target="_blank">
                A Machine Learning Approach for Phase-Split Calculations in n-Octane/Water and PASN/Water Systems </a>
                <br>
                Application of <b>Machine Learning (linear regression, KNN, SVM, and decision tree regressor (DTR)) </b> to predict phase behavior of n-octane/water and PASN/water blends
              </li>

              <!-- <li> 2022 - <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/cjce.24120" target="_blank">
                Synthetic naphtha recovery from water streams: Vapour-liquid–liquid equilibrium (VLLE) studies in a dynamic VL-cell unit with high intensity mixing </a>
                <br>
                Experimental determination of phase behavior of PASN/water blends
              </li> -->

              <!-- <li> 2021 - <a href="https://www.degruyterbrill.com/document/doi/10.1515/ijcre-2021-0031/html" target="_blank">
                Phase equilibrium in n-octane/water separation units: vapor pressures, vapor and liquid molar fractions </a>
                <br>
                Experimental determination of phase behavior of n-octane/water blends                
              </li> -->

              <li> 2021 - <a href="https://www.mdpi.com/2227-9717/9/3/413" target="_blank">
                Thermodynamics and Machine Learning Based Approaches for Vapor–Liquid–Liquid Phase Equilibria in n-Octane/Water, as a Naphtha–Water Surrogate in Water Blends </a>
                <br>
                Application of <b>machine learning (logistic regression, decision tree, k-neighbors, and support vector classification) </b> to predict phase behavior of n-octane/water blends
              </li>

              <li>2020 -  <a href="https://www.sciencedirect.com/science/article/pii/S0009250919308140" target="_blank">
                A Mid-Infrared Region (MIR) lumped Group Contribution based method for monitoring light
                gases and gasolines in Fluid Catalytic Cracking </a>
                <br>
                Application of <b>nonlinear multivariable minimization</b> to MIR signals

              </li>

              <li> 2018 - <a href="https://www.sciencedirect.com/science/article/pii/S0009250918305906" target="_blank">
                Monitoring the progress of catalytic cracking for model compounds in the mid-infrared (MIR) 3200–2800 cm<sup>−1</sup> range
              </a>
              <br>
                <b>Data analysis </b>of MIR spectroscopy signals to predict light absorption coefficient

              </li>

              <li> 2015 -  <a href="http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S0120-56092015000200009" target="_blank">
                Stability criteria and critical runway conditions of propylene glycol manufacture in a continuous stirred tank reactor
              </a>
              <br>
              <b>Parametric sensitivity analysis</b> for the analysis of a steady state and safety operational conditions

              </li>

              <li> 2015 -  <a href="https://www.sciencedirect.com/science/article/pii/S1631074815000788" target="_blank">
                Transition metal loaded TiO2 for phenol photo-degradation
              </a>
              <br>
                Application of <b>experimental design</b> to phenolic wastewaters treatment with TiO<sub>2</sub>
              </li>

              <li> 2014 -  <a href="https://scielo.conicyt.cl/scielo.php?pid=S0718-07642014000500002&script=sci_arttext" target="_blank">
                Phenol Photo-Degradation over TiO2 and Mo/TiO2 Catalysts. The Response Surface Methodology as Optimization Tool
              </a>
                <br>
                Optimization of experimental conditions using <b>experimental design and Response Surface Methodology (RSM)</b>
              </li>

              <li> 2013 -  <a href="https://www.tandfonline.com/doi/abs/10.1080/19443994.2012.728058" target="_blank">
                Pervaporation membrane reactor design guidelines for the production of methyl acetate
              </a>
                <br>
                <b>Parametric sensitivity analysis</b> to determine limits of operation in a pervaporation membrane reactor
              </li>


            </ul>
          </div>
        </div>
      </div>


    </div>




  </div>
</section>














{% endblock %}
