{% extends "base.html" %}

{% block app_content %}

<!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='images/t2.jpeg') }}" alt="">
            </div>
          </div>
          <h1 class="mb-5" style='font-size: 30px; text-align: right;'>  I develop valuable solutions to business challenges using Computer Programming, Data Science and Mathematical Modelling. </h1>
        </div>
      </div>
    </div>
  </header>

<!-- About Me -->
<section class="home-about-area section-gap">
			<div class="text-center">
					<div class="menu-content">
							<div class="title text-center">
									<h1 class="mb-10">Skills Expertisse</h1>
									  1 - Basic <span style="display: inline-block; width: 2ch;">	</span>
										 2 - Novice <span style="display: inline-block; width: 2ch;">	</span>
										 3 - Intermediate<span style="display: inline-block; width: 2ch;">	</span>
										  <p>4 - Advanced<span style="display: inline-block; width: 2ch;">	</span>
											 5 - Expert</p><p>
							</p></div>
					</div>
			</div>

<div class="container">
		<div class="row skillbar-wraps">
			<div class="col-lg-4 skill-left">
				<h4 class="text-center pt-50"> Devops </h4>
				<div class="single-skill">
					<p>
						Databases (SQL) -   5
					</p>
					<div class="skill sb_progress" data-width="100" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 100%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>

				<div class="single-skill">
					<p>
						Servers (Linux / Bash) -   4
					</p>
					<div class="skill sb_progress" data-width="80" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 80%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>

				<div class="single-skill">
					<p>
						Big Data (HIVE / Spark) - 3
					</p>
					<div class="skill sb_progress" data-width="60" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 60%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>
			</div>

			<div class="col-lg-4 skill-right">
				<h4 class="text-center pt-50">Machine Learning</h4>
				<div class="single-skill">
					<p>
						Python - 5
					</p>
					<div class="skill sb_progress" data-width="100" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 100%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>
				<div class="single-skill">
					<p>
						Computer Vision (TensorFlow) - 4
					</p>
					<div class="skill sb_progress" data-width="80" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 80%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>

				<div class="single-skill">
					<p>
						NLP (Spacy / TensorFlow) - 4
					</p>
					<div class="skill sb_progress" data-width="80" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 80%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>

			</div>

			<div class="col-lg-4 skill-right">
				<h4 class="text-center pt-50"> Data Analytics </h4>

				<div class="single-skill">
					<p>
						Teaching / Presenting - 5
					</p>
					<div class="skill sb_progress" data-width="100" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 100%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>

				<div class="single-skill">
					<p>
						Statistical Methods - 3
					</p>
					<div class="skill sb_progress" data-width="60" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 60%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>


				<div class="single-skill">
					<p>
						Visualization (Tableau) - 2
					</p>
					<div class="skill sb_progress" data-width="40" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 40%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>

			</div>
		</div>
	</div>
</section>


<section>
  <h2 class="mb-5" style='padding-top: 30px; text-align: center;'> Education and Experience </h2>
  <div class="timeline" >
    <div class="container_Timeline left">
      <div class="content">
        <h2>2019</h2>
        <p> <i>August</i> - Chapter Coordinator, Canada Learning Code (London Chapter)</p>

      </div>
    </div>

    <div class="container_Timeline right">
      <div class="content">
        <h2>2018</h2>
        <p> <i>January</i> - PhD student, The University of Western Ontario, <b>Canada</b></p>
        <p> <i>August</i> - Volunteer, Peer Guide Program at Western University</p>
      </div>
    </div>

    <div class="container_Timeline left">
      <div class="content">
        <h2>2016</h2>
        <p> <i>January-July</i> - Research Exchange, The University of Western Ontario, <b>Canada</b> </p>
        <p> <i>March</i> - Travel Fellowship, King Abdullah University of Science and Technology, <b>Saudi Arabia</b> </p>
      </div>
    </div>

    <div class="container_Timeline right">
      <div class="content">
        <h2>2015</h2>
        <p> <i>January</i> - Research Assistant, National University of Colombia.</p>
        <p> <i>August</i> - Lecturer (Probability, Statistics and General Chemistry), Politécnico Grancolombiano.</p>
      </div>
    </div>

    <div class="container_Timeline left">
      <div class="content">
        <h2>2014</h2>
        <p> <i>August</i> - Lecturer (General Chemistry), National University of Colombia. </p>
      </div>
    </div>

    <div class="container_Timeline right">
      <div class="content">
        <h2>2013</h2>
        <p> <i>February-May</i> - Research Exchange, Technical University of Lodz, <b>Poland</b> </p>
        <p> <i>August</i> - Master in Engineer, National University of Colombia</p>
        <p> <i>October</i> - Procurement, Super de Alimentos C.I. S.A. </p>
      </div>
    </div>

    <div class="container_Timeline left">
      <div class="content">
        <h2>2012</h2>
        <p> <i>September</i> - Travel Fellowship, EFCATS- Summer School 2012, 1st Italian-Spanish School on Catalysis, <b>Italy</b> </p>
      </div>
    </div>

    <div class="container_Timeline right">
      <div class="content">
        <h2>2010</h2>
        <p> <i>December</i> - Chemical Engineer, National University of Colombia</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
