{% extends "base.html" %}

{% block app_content %}


<!-- About Me -->

<section class="home-about-area section-gap">

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="col-xl-9 mx-auto">
      <div class="col-lg-3">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='images/t2.jpeg') }}" alt="">
        </div>
      </div>
    </div>

    <h1 class="display-4">About Me</h1>
    <p class="lead">I am a future Data Scientist! I am passionate about data
       analysis, mathematical modelling, machine learning and
        programming with Python. I love using my curiosity and
       programming skills to provide innovate solutions to
       business problems.</p>
  </div>
</div>



  <div class="container">
    <h4> Hi! ¡Hola! Salut! </h4>
    <p>
      I am originally from Colombia. I arrived in Canada to
        study my Ph.D. at Western University (Faculty of
        Engineering). I was part of the Peer Guide program at UWO for 2 years, helping international students to successfully transition to Canada.
        Now, I am Chapter Coordinator in London for Canada Learning Code.
        <br> <br>
        One of my key values is lifelong learning, so I am always looking for opportunities to learn new things and to upskill myself.
        <br><br>

        During my free time, you will find me taking pictures and learning from the members of <a href="https://www.londoncameraclub.ca/">London Camera Club</a>.
        You can see some of my pictures <a href="https://www.shutterstock.com/g/smlopezz">here</a>.

        <br><br>
        I am looking forward to working as a Data Scientist and I am currently located near London (ON). I am looking for opportunities in London, Toronto or to work remotely.
    </p>


    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Current Research  </div>
          <div class="card-body">
              We are a team of 4 using our skills looking to help a
              Canadian Oil&Gas to identify opportunities for process
              optimization. This helps to increase the economic revenue
              of their process. I am the one that is in the computer all
              day and I love that!
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Consulting Projects  </div>
          <div class="card-body">
            I was the lead developer of a WebApp
              for a local bus school company. I developed the backend
              of a web-based application that help them track the
              recruiting/training process more efficiently.
              For that I used different tools, such as HTML, CSS,
              JQuery, MySQL and Python (Flask).
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Volunteer Experience  </div>
          <div class="card-body">
            I am Chapter Coordinator for Canada Learning Code. Where
              I help organizing in-person and online events to advocate
              for coding learning in Canada. I have also been a mentor
              in many of those events, interacting with the learners and
              helping them solve issues and have a wonderful learning
              experience!
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Previous Competitions  </div>
          <div class="card-body">
            I was part of two different teams participating in the last Microsoft Competitions:
            <!--Discover AI and Upskilling Journey. During the 2020 Microsoft Discover AI Challenge we were top 3 of our category.
            In the MS Upskilling Journew we won the 6th Sprint, and we won the audice award for the second sprint.-->
            <ul>
              <li> Winners of 6th Sprint - Microsoft AI Discover Upskilling Challenge (May - Aug 2020).</li>
              <li> Top 3 - 2020 Microsoft Discover AI Challenge: Smarter and Sustainable Economies (Feb - May 2020). </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Soft Skills  </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Building collaborative relationships </li>
            <li class="list-group-item"> Cross-cultural communication skills </li>
            <li class="list-group-item"> Analytical, conceptual, innovative and critical thinking </li>
            <li class="list-group-item"> Curiosity </li>
            <li class="list-group-item"> Initiative-taker </li>
            <li class="list-group-item"> Time and organization skills </li>
            <li class="list-group-item"> Managing sensitive and confidential information </li>
            <li class="list-group-item"> Negotiation skills  </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">  My Toolkit  </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> Project management and Research skills </li>
              <li class="list-group-item"> Machine Learning: Python, Pandas, NumPy, Scikit-learn, Matplotlib </li>
              <li class="list-group-item"> Math: statistics, optimization, mathematical modelling, linear and non-linear regression, linear algebra, among others.</li>
              <li class="list-group-item"> Web development: HTML, CSS, JQuery, Flask </li>
              <li class="list-group-item"> Other computational tools: Matlab, Statgraphics </li>
            </ul>
          </div>
          </div>
        </div>

        <div class="row" style="margin-top: 2%;">
         <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">  My Interest and Activities  </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> Photography, ice skating,  gardening, travelling, computer programming. </li>

            </ul>
          </div>
         </div>
        </div>

      </div>

    </div>


    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card h-100">
          <div class="card-header">  My Publications  </div>
          <div class="card-body">
            I have published my research in different journals
            <ul>
              <li>2020 -  <a href="https://www.sciencedirect.com/science/article/pii/S0009250919308140" target="_blank">
                A Mid-Infrared Region (MIR) lumped Group Contribution based method for monitoring light
                gases and gasolines in Fluid Catalytic Cracking </a>
                <br>
                Application of nonlinear multivariable minimization to MIR signals

              </li>

              <li> 2018 - <a href="https://www.sciencedirect.com/science/article/pii/S0009250918305906" target="_blank">
                Monitoring the progress of catalytic cracking for model compounds in the mid-infrared (MIR) 3200–2800 cm<sup>−1</sup> range
              </a>
              <br>
                Data analysis of MIR spectroscopy signals to predict light absorption coefficient

              </li>

              <li> 2015 -  <a href="http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S0120-56092015000200009" target="_blank">
                Stability criteria and critical runway conditions of propylene glycol manufacture in a continuous stirred tank reactor
              </a>
              <br>
              Mathematical method for the analysis of a steady state and safety operational conditions

              </li>

              <li> 2015 -  <a href="https://www.sciencedirect.com/science/article/pii/S1631074815000788" target="_blank">
                Transition metal loaded TiO2 for phenol photo-degradation
              </a>
              <br>
                Application of experimental desing to phenolic wastewaters treatment with TiO<sub>2</sub>
              </li>

              <li> 2014 -  <a href="https://scielo.conicyt.cl/scielo.php?pid=S0718-07642014000500002&script=sci_arttext" target="_blank">
                Phenol Photo-Degradation over TiO2 and Mo/TiO2 Catalysts. The Response Surface Methodology as Optimization Tool
              </a>
                <br>
                Optimization of experimental conditions using experimental design and surface response methodology
              </li>

              <li> 2013 -  <a href="https://www.tandfonline.com/doi/abs/10.1080/19443994.2012.728058" target="_blank">
                Pervaporation membrane reactor design guidelines for the production of methyl acetate
              </a>
                Mathematical modelling to determine limits of operation in a pervaporation membrane reactor
              </li>


            </ul>
          </div>
        </div>
      </div>


    </div>




  </div>
</section>














{% endblock %}
