{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <h2 class="mb-5"> Areas of interests </h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-chart-line m-auto text-primary"></i>
          </div>
          <h3>Data Analytics</h3>
          <p class="lead mb-0"> Using data to get insights that help solve business problems.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <!--<i class="fas fa-utensils m-auto text-primary"></i>-->
            <i class="fas fa-graduation-cap m-auto text-primary"></i>
          </div>
          <h3>Machine Learning</h3>
          <p class="lead mb-0">I love finding valuable...</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <!--<i class="icon-check m-auto text-primary"></i>-->
            <i class="fas fa-calculator m-auto text-primary"></i>
          </div>
          <h3>Mathematical Modelling</h3>
          <p class="lead mb-0">Applying maths to get valuable solution for problems.</p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="showcase" style="padding: 50px;">
  <h2 class="mb-5" style='text-align: center;'> Current Projects </h2>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="{{ url_for('static', filename='images/card1.jpg') }}" alt="Woman in a supermarket" height="200">
        <div class="card-body">
          <h4 class="card-title">For Consumers</h4>
          <p class="card-text">We are a community of responsible consumers. We are aware of our impact on climate change through food waste reduction.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="{{ url_for('static', filename='images/card2.jpg') }}" alt="Grocery store" height="200">
        <div class="card-body">
          <h4 class="card-title">For Retailers</h4>
          <p class="card-text">We allow retailers to reach consumers with targeted food products based on our user-centric insights.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="{{ url_for('static', filename='images/card3.jpg') }}" alt="Toronto view from the island" height="200">
        <div class="card-body">
          <h4 class="card-title">For municipalities</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>


</section>

<section class="showcase" style="padding: 50px;">
  <h2 class="mb-5" style='text-align: center;'> My latest courses </h2>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="{{ url_for('static', filename='images/card1.jpg') }}" alt="Woman in a supermarket" height="200">
        <div class="card-body">
          <h4 class="card-title">For Consumers</h4>
          <p class="card-text">We are a community of responsible consumers. We are aware of our impact on climate change through food waste reduction.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="{{ url_for('static', filename='images/card2.jpg') }}" alt="Grocery store" height="200">
        <div class="card-body">
          <h4 class="card-title">For Retailers</h4>
          <p class="card-text">We allow retailers to reach consumers with targeted food products based on our user-centric insights.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="{{ url_for('static', filename='images/card3.jpg') }}" alt="Toronto view from the island" height="200">
        <div class="card-body">
          <h4 class="card-title">For municipalities</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>


</section>
{% endblock %}
