{% extends "base.html" %}

{% block app_content %}

<!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='images/headshot_Sandra.png') }}" alt="">
            </div>
          </div>

          <h1 class="mb-5" style='font-size: 35px; text-align: right;'> Hi! I'm Sandra.  </h1>
          <h2 class="mb-5" style='font-size: 30px; text-align: right;'> Senior Data Scientist | <br> Advocate for Women in Tech | <br> Bridge Builder | </h2>


        </div>

      </div>
    </div>
  </header>


  <div class="col-xl-9 mx-auto" style="text-align: center; padding-left: 10%; padding-right: 10%; padding-top: 2%; padding-bottom: 2%;">
    <!-- <h5> Senior Data Scientist enabling smarter decisions through AI, ML, cloud technologies, and enterprise data strategies </h5> -->
     <h5> Senior Data Scientist leveraging ML, AI and analytics to transform decisions, streamline operations, and elevate customer experience </h5>
    <a class="btn btn-primary" href="mailto:slopezza@outlook.com" >EMAIL ME</a>
  </div>

  <!-- my long-term goal of leading technical teams that drive transformation through data science, advanced analytics and Artificial Intelligence to enhance decision making, optimize business processes and elevate the customer experience -->

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <h2 class="mb-5"> Areas of Expertise </h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-chart-line m-auto text-primary"></i>
            </div>
            <h3>Data Analytics</h3>
            <!--<p class="lead mb-0"> Using data to get insights that help solve business problems.</p>-->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <!--<i class="fas fa-utensils m-auto text-primary"></i>-->
              <i class="fas fa-graduation-cap m-auto text-primary"></i>
            </div>
            <h3>Artificial Intelligence & Machine Learning</h3>
            <!--<p class="lead mb-0">I love finding valuable...</p>-->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <!--<i class="icon-check m-auto text-primary"></i>-->
              <i class="fas fa-calculator m-auto text-primary"></i>
            </div>
            <h3>Mathematical Modelling</h3>
            <!--<p class="lead mb-0">Applying maths to get valuable solution for problems.</p>-->
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="showcase" style="padding: 5%;">
    <h2 class="mb-2" style='text-align: center;'> Highlighted Projects </h2>
    <h5 class="mb-5" style="text-align: center;"> Find a full list on my <a href="{{ url_for('portfolio') }}"> portfolio </a>   </h5>
    <div class="row">

      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/Public_Speaking/2024-04-17-GRM_Townhall.jpeg') }}" alt="Woman in a supermarket" height="200">
          <div class="card-body">
            <h4 class="card-title"> Public Speaking & Community Engagement</h4>
            <p class="card-text"> I use public speaking as a way to demystify AI, empower women and newcomers in AI & tech, and create more inclusive pathways into data, AI and technology.
              <br><br>As a Senior Data Scientist at Scotiabank and London’s Women in AI Canada Chapter Lead, I speak at conferences, universities, community events, and industry panels, sharing practical insights on AI, career development, and navigating the Canadian job market.              

            <br> <br>
                <b>Power Skills: </b> Public Speaking, Community Building, Mentorship, Workshop Facilitation
            </p>
              
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_Speaking_Community')}}" class="btn btn-primary" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/cookflow.png') }}" alt="Cookflow AI Agent" height="200">
          <div class="card-body">
            <h4 class="card-title">Personal CookFlow AI Agent</h4>
            <p class="card-text"> This project was developed as the capstone for the <a href="https://www.kaggle.com/learn-guide/5-day-agents" target="_blank">Kaggle & Google 5-Day AI Agents Intensive Course</a>, from the Kaggle & Google 5-Day AI Agents Intensive Course, which focused on building safe, scalable agentic AI solutions.
              <br><br>CookFlow is an AI-powered kitchen companion that streamlines grocery planning and batch-cooking so you enjoy balanced, stress-free meals all week.
            <br> <br>
                <b>Tools: </b> Gemini API, Google ADK, Python, GCP Cloud Run
            </p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/smlopezza/Personal_CookFlow_AI_Agent" class="btn btn-primary" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/AI_Agents.png') }}" alt="Woman in a supermarket" height="200">
          <div class="card-body">
            <h4 class="card-title">AI Multi-Agent: Customer Segmentation & Marketing Planner</h4>
            <p class="card-text"> This project was created as part of the <a href="https://gdg.community.dev/events/details/google-gdg-london-presents-google-devfest-2025-london-building-safe-secure-and-scalable-solutions-with-ai-and-cloud/cohost-gdg-on-campus-western-university-london-canada">Google DevFest 2025 London</a>: Building Safe, Secure and Scalable Solutions with AI and Cloud event. 
              I directed a 90 minutes interactive workshop: Exploring Agentic AI: Hands-On with Gemini in Kaggle
            <br> <br>
                <b>Tools: </b> Gemini API, Google ADK, Python
            </p>
              
          </div>
          <div class="card-footer">
            <a href="https://www.kaggle.com/code/smlopezza/customer-segmentation-marketing-planner" class="btn btn-primary" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div> -->

      <!-- <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card9.jpg') }}" alt="Woman in a supermarket" height="200">
          <div class="card-body">
            <h4 class="card-title"> AI-Powered Financial Report Summarizer </h4>
            <p class="card-text"> Financial reports are dense and time-consuming to analyze. This project uses Retrieval-Augmented Generation (RAG) with Gemini to automatically generate concise, context-aware summaries by combining document retrieval with multimodal reasoning. The output includes a structured summary table for quick insight.
              <br> <br>
                <b>Tools: </b> Gemini API, Python
            </p>
          </div>
          <div class="card-footer">
            <a href="https://www.kaggle.com/code/smlopezza/ai-powered-financial-report-summarizer" class="btn btn-primary" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div> -->

      


      <!-- <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card1.jpg') }}" alt="Woman in a supermarket" height="200">
          <div class="card-body">
            <h4 class="card-title">Ph.D. Thesis</h4>
            <p class="card-text"> My PhD research at Western University was part of a collaborative project with a major Canadian Oil & Gas company. The objective of the project was to apply mathematical modelling and ML techniques to better understand hydrocarbon/water mixtures. 
              <br> <br>
                <b>Tools: </b> Python, Pandas, Scikit-learn, Mathematical modelling, Statistical analysis
            </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_PhDThesis') }}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div> -->

      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card3.jpg') }}" alt="Toronto view from the island" height="200">
          <div class="card-body">
            <h4 class="card-title"> Recruit WebApp</h4>
            <p class="card-text">I was the Lead Developer of an API to help a local school bus company in London, ON. The WebApp helped to improve and keep accountable the recruitment and training processes of the organization.
              <br> <br>
                <b>Tools: </b> Flask (Python), SQL + SQLAlchemy, Pandas, HTML, CSS, JQuery, Pythonanywhere
            </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_RecruitApp')}}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card4.jpg') }}" alt="Smartsito website screenshot" height="200">
          <div class="card-body">
            <h4 class="card-title">Smartsito</h4>
            <p class="card-text"> Our team, “SmartSito” was one of the top 3 finalists in the Retail & E-commerce category for the 2020 Microsoft Discover AI Challenge: Smarter and Sustainable Economies.
                Smartsito attempts to reduce food waste using computer vision and a reward system. </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_Smartsito') }}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div> -->


    </div>


  </section>



{% endblock %}
