{% extends "base.html" %}

{% block app_content %}

<!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='images/t2.jpeg') }}" alt="">
            </div>
          </div>

          <h1 class="mb-5" style='font-size: 30px; text-align: right;'>  Hi! I'm Sandra. A future Data Scientist. </h1>


        </div>

      </div>
    </div>
  </header>


  <div class="col-xl-9 mx-auto" style="text-align: center; padding-left: 10%; padding-right: 10%; padding-top: 2%; padding-bottom: 2%;">
    <h5> I develop innovate solutions to solve business problems using Data Analysis, Mathematical Modelling, Machine Learning and Programming with Python. </h5>
    <a class="btn btn-primary" href="mailto:slopezza@outlook.com" >EMAIL ME</a>
  </div>


  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <h2 class="mb-5"> Areas of interests </h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-chart-line m-auto text-primary"></i>
            </div>
            <h3>Data Analytics</h3>
            <!--<p class="lead mb-0"> Using data to get insights that help solve business problems.</p>-->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <!--<i class="fas fa-utensils m-auto text-primary"></i>-->
              <i class="fas fa-graduation-cap m-auto text-primary"></i>
            </div>
            <h3>Machine Learning</h3>
            <!--<p class="lead mb-0">I love finding valuable...</p>-->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <!--<i class="icon-check m-auto text-primary"></i>-->
              <i class="fas fa-calculator m-auto text-primary"></i>
            </div>
            <h3>Mathematical Modelling</h3>
            <!--<p class="lead mb-0">Applying maths to get valuable solution for problems.</p>-->
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="showcase" style="padding: 5%;">
    <h2 class="mb-2" style='text-align: center;'> Current Projects </h2>
    <h5 class="mb-5" style="text-align: center;"> I have been working on some exciting projects, including consulting, challenges and my Ph.D. thesis. Find a full list on my <a href="{{ url_for('portfolio') }}"> portfolio </a>. </h5>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card1.jpg') }}" alt="Woman in a supermarket" height="200">
          <div class="card-body">
            <h4 class="card-title">Ph.D. Thesis</h4>
            <p class="card-text"> My PhD research at Western University is part of a collaborative project with a major Canadian Oil & Gas company. The objective of the project was to apply mathematical modelling and ML techniques to better understand hydrocarbon/water mixtures. </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_PhDThesis') }}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card3.jpg') }}" alt="Toronto view from the island" height="200">
          <div class="card-body">
            <h4 class="card-title"> Recruit WebApp</h4>
            <p class="card-text">I was the Lead Developer of an API to help a local school bus company in London, ON. The WebApp helped to improve and keep accountable the recruitment and training processes of the organization.</p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_RecruitApp')}}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card4.jpg') }}" alt="Smartsito website screenshot" height="200">
          <div class="card-body">
            <h4 class="card-title">Smartsito</h4>
            <p class="card-text"> Our team, “SmartSito” was one of the top 3 finalists in the Retail & E-commerce category for the 2020 Microsoft Discover AI Challenge: Smarter and Sustainable Economies.
                Smartsito attempts to reduce food waste using computer vision and a reward system. </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_Smartsito') }}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>


    </div>


  </section>

<!--  <section class="showcase" style="padding: 50px;">
    <h2 class="mb-5" style='text-align: center;'> Playground </h2>
    <h5 style="text-align: center;"> During my free time I enjoy putting in practice my skills by playing with data. Find a full list on my <a href="#"> portfolio </a>. </h5>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card1.jpg') }}" alt="Woman in a supermarket" height="200">
          <div class="card-body">
            <h4 class="card-title">S</h4>
            <p class="card-text">s</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card2.jpg') }}" alt="Grocery store" height="200">
          <div class="card-body">
            <h4 class="card-title">A</h4>
            <p class="card-text">We allow retailers to reach consumers with targeted food products based on our user-centric insights.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card3.jpg') }}" alt="Toronto view from the island" height="200">
          <div class="card-body">
            <h4 class="card-title">D</h4>
            <p class="card-text">D</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
  </section>-->

{% endblock %}
