{% extends "base.html" %}

{% block app_content %}

<div class="container">
  <div class="col-lg-12 mb-5">
    <h1 class="mt-5 mb-5" style='text-align: center;'> Tutorial - Model Serving </h1>
    <div style="float: right">
      <a href="https://www.youtube.com/watch?v=Sot3nrTvoiE&t=2s" class="btn btn-primary" target="_blank"> Demo </a>
      <a href="https://www.logeo.co/" class="btn btn-primary" target="_blank"> Live App</a>
    </div>

    <h2> Summary (This is a test branch)</h2>

    <div class="row mb-5">

      <div class="col-lg-6 col-sm-6">
        <p> On this tutorial I walk you through the container
        </p>

        <h3> Tools </h3>
        <ul>
          <li> Flask (Python) </li>
          <li> AWS EC2 instance</li>
          <li> Docker </li>

        </ul>

      </div>

      <div class="col-lg-6 col-sm-12">
        <iframe width="400" height="300" class="embed-responsive-item" src="https://www.youtube.com/embed/Sot3nrTvoiE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>


    <div class="col-lg-6 mb-5">
      <h2> Exploratory Data Analysis  </h2>

    </div>
















  </div>

</div>







{% endblock %}
