{% extends "base.html" %}

{% block app_content %}

<!-- Masthead -->


  <!-- Icons Grid -->




  <section class="showcase" style="padding: 50px;">
    <h1 class="mb-2" style='text-align: center;'> Playgroud </h1>
    <h5 class="mb-5" style="text-align: center;"> During my free time I enjoy putting in practice my skills by playing with data.</h5>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card5.jpg') }}" alt="Woman in a supermarket" height="200">
          <div class="card-body">
            <h4 class="card-title">Analysis of my banking transactions</h4>
            <p class="card-text">....</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>



    </div>


  </section>



{% endblock %}
