{% extends "base.html" %}

{% block app_content %}

<!-- Masthead -->


  <!-- Icons Grid -->




  <section class="showcase" style="padding: 50px;">
    <h1 class="mb-5" style='text-align: center;'> Portfolio </h1>
    <div class="row">
      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card1.jpg') }}" alt="Woman in a supermarket" height="200">
          <div class="card-body">
            <h4 class="card-title">Ph. D. Thesis</h4>
            <p class="card-text">I applied data analysis, mathematical modelling, machine learning techniques and programming with Python to solve a Canadian company problem.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary disabled">In progress</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card2.jpg') }}" alt="Grocery store" height="200">
          <div class="card-body">
            <h4 class="card-title">Smartsito</h4>
            <p class="card-text">Our team, “SmartSito” was one of the top 3 finalists in the Retail & E-commerce category for the 2020 Microsoft Discover AI Challenge: Smarter and Sustainable Economies.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card3.jpg') }}" alt="Toronto view from the island" height="200">
          <div class="card-body">
            <h4 class="card-title">Upskilling Journey</h4>
            <p class="card-text">Our team "Team Lopez AI" was the winner for the 6th Sprint of Microsoft AI Upskilling Journey.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card3.jpg') }}" alt="Grocery store" height="200">
          <div class="card-body">
            <h4 class="card-title">Recruiter WepApp</h4>
            <p class="card-text">Our team, “SmartSito” was one of the top 3 finalists in the Retail & E-commerce category for the 2020 Microsoft Discover AI Challenge: Smarter and Sustainable Economies.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>


    <div class="row" style="margin-top: 2%">



    </div>


  </section>



{% endblock %}
