{% extends "base.html" %}

{% block app_content %}

<div class="container">
  <div class="col-lg-12 mb-5">
    <h1 class="mt-5 mb-5" style='text-align: center;'> PhD Thesis at Western University <small>(Defended: May 2021)</small> </h1>

    <h2> Summary </h2>
    <div class="row mb-5">

      <div class="col-lg-6 col-sm-6">
        <p>
          My Ph.D. research was part of a collaborative project to solve a problem for one of the major Oil & Gas companies in Canada.
          I applied data analysis, mathematical modelling, Machine Learning and programming Python as tools to optimize the separation process.
        </p>
        <p> You can find a copy of my thesis <a href="https://uwo.scholaris.ca/items/2ceb1119-59c6-4653-95ea-463770365d07">here</a> </p>
      </div>

      <div class="col-lg-6 col-sm-12">
        <img src="{{ url_for('static', filename='images/ThesisWriting.jpg') }}" width="400" height="300" alt="...">
      </div>

    </div>

    <h2> Objective </h2>
    <p > To develop a mathematical model able to predict the behaviour of hydrocarbon/water mixtures using traditional methodologies in combination with machine learning techniques </p>
    <br>
    <h2> Business Problem </h2>
    Hydrocarbon/water mixtures are not completely miscible. To optimize the separation improving process economy, it is needed to understand hydrocarbon/water mixtures behavior
    <br><br>

    <h2> Business opportunities </h2>
    The opportunity is to:
      <ul class='mb-5'>
        <li> Applied statistics and machine learning for data analysis of experimental results  </li>
        <li> Identified opportunities for process optimization using mathematical modelling, statistics and data analysis </li>
        <li> Regression, classification and predictive analysis using machine learning and traditional techniques </li>
        <li> Continuous communication of research outputs to team and industry stakeholders </li>
        <li> Programing using Python (Pandas, Scikit-Learn, Matplotlib) and Matlab  </li>
      </ul>


    <div class="col-lg-6 mb-5">
      <h2> Tools </h2>
      <ul>
        <li> Python </li>
        <li> Pandas </li>
        <li> Scikit-learn </li>
        <li> Mathematical modelling </li>
        <li> Statistical analysis </li>

      </ul>
    </div>



    <div class="col-lg-6 mb-5">
      <h2>Achievements</h2>
      <ul>
        <li> I was the presenter for the results of our research at Canadian Chemical Engineering Conference 2020</li>
        <br>
        <li> I was the leading author of the following papers:
          <ul>
            <li> Lopez-Zamora, S., et al. (2021). "Vapour-Liquid-Liquid and Vapour-Liquid Equilibrium of Paraffinic Aromatic Synthetic Naphtha/WaterBlends: Prediction of The Number of Phases" <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/cjce.24230" target="_blank">Link</a> </li>
            <li> Lopez-Zamora, S., et al. (2021). "Thermodynamics and Machine Learning Based Approaches for Vapor-Liquid-Liquid Phase Equilibria in NOctane/Water Blends, as a Naphtha-Water Surrogate in Water Streams." <a href="https://www.mdpi.com/2227-9717/9/3/413" target="_blank">Link</a> </li>
          </ul>
        </li> <br>
        <li> I was co-author of the following papers:
          <ul>
            <li> Escobedo, S., et al. (2021). "Synthetic Naphtha Recovery from Water Streams: Vapor-Liquid-Liquid Equilibrium (VLLE) Studies in a Dynamic VL-Cell Unit with High Intensity Mixing." 
                <br> <i>My contribution to this paper was related to the data analysis and thermodynamic modelling of the blends.</i> <a href="https://doi.org/10.1002/cjce.24120" target="_blank">Link</a>
            </li>
            <li> Kong, J.; et al. (2021). "Phase Equilibrium in N-Octane/Water Separation Units: Vapor Pressures, Vapor and Liquid Molar Fractions." 
                <br>  <i>My contribution to this paper was related to the data analysis and thermodynamic modelling of the blends.</i> <a href="https://doi.org/10.1515/ijcre-2021-0031" target="_blank">Link</a> 
            </li>
          </ul>
        </li><br>
        <li>
          Additional publications after Ph.D. defense:
          <ul>
            <li> Lopez-Ramirez, E., et al. (2023). "Application of Artificial Neural Networks to Predict Phase Behavior of n-Octane/Water Blends." <a href="https://www.mdpi.com/2227-9717/11/7/2026" target="_blank">Link</a> </li>
            <li> Lopez-Zamora, S., et al. (2022). "A Machine Learning Approach for Phase-Split Calculations in n-Octane/Water and PASN/Water Systems." <a href="https://www.mdpi.com/2227-9717/10/4/710" target="_blank">Link</a> </li>  
          </ul>
        </li>
      </ul>
    </div>






  </div>

</div>







{% endblock %}
