{% extends "base.html" %}

{% block app_content %}

<div class="container">
  <div class="col-lg-12 mb-5">
    <h1 class="mt-5 mb-5" style='text-align: center;'> Recruit WebApp <small>(Oct 2019 - Present)</small> </h1>
    <div style="float: right">
      <a href="https://slopezza.pythonanywhere.com/" class="btn btn-primary" target="_blank">Demo</a>
    </div>

    <h2> Objective </h2>
    <p class='mb-4'>  Development of an API to improve the recruitment/training process of a local school bus company. </p>

    <h2>Business Problem:</h2>
    <p class='mb-2'> The company was using a MS Access application for almost 10 years. After this period, different inefficiencies emerged such as: </p>

      <ul>
        <li> The need for a portable solution available on tablets </li>
        <li> The need to move organization to paperless in its recruitment/training process </li>
        <li> The administrators required more flexibility in managing some of the data tables </li>
        <li> The organization wanted to tighten controls for record-keeping purposes </li>
      </ul>

      <h2>Business Opportunity:</h2>
      <p class='mb-2'> There was an opportunity to redesign and rebuild the current tool as a web application that is easily accessed on any device through a URL. This new application has the ability to: </p>

      <ul>
        <li> Generate reports in CSV or PDF files, which can then be uploaded to other systems </li>
        <li> Provide access to Users based on permissions for their roles, improving accountability </li>
        <li> Ensure that users follow the standard processes, without skipping intermediate steps </li>
      </ul>




    <div class="col-lg-6 mb-5 mt-5">
      <h2> Tools </h2>
      <ul>
        <li> Flask (Python) </li>
        <li> SQL + SQLAlchemy </li>
        <li> Pandas </li>
        <li> HTML, CSS, JQuery </li>
        <li> Pythonanywhere </li>
      </ul>
    </div>

    <div class="col-lg-6 mb-5 mt-5">
      <h2>Achievements</h2>
      <ul>
        <li> Working collaboratively with a UX designer, an Infrastructure Lead and a Project manager to successfully deliver the end product </li>
        <li> Managed and negotiated client expectations and requirements </li>
        <li> Integration of SQL database to Flask web application </li>
        <li> Deployment of API in Pythonanywhere and company servers </li>
      </ul>
    </div>


    <div class="row">

      <div class="col-lg-4 mb-5 mt-5" >
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/RecruitApp/Recruit_01.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Multiple users login with different roles</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 mt-5">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/RecruitApp/Recruit_02.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">The dashboard helps alert management when KPIs are off track</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 mt-5">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/RecruitApp/Recruit_03.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Applicants are organized in a table that briefly summarizes their information</p>
          </div>
        </div>
      </div>

    </div>



    <div class="row">

      <div class="col-lg-4 mb-5 mt-5">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/RecruitApp/Recruit_03b.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"> Applicants profile gives detailed information on their status </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 mt-5">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/RecruitApp/Recruit_03c.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"> Personal information of the applicant can be collected and saved </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 mt-5">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/RecruitApp/Recruit_04.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"> •	A Timer controls training time. Minimum time requirements must be met. </p>
          </div>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-lg-4 mb-5 mt-5">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/RecruitApp/Recruit_05.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Reports are customized to business needs</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 mt-5">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/RecruitApp/Recruit_06.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"> Reports can be generated, specifying date range and different formats, for download </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 mt-5">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/RecruitApp/Recruit_07.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Administrative tools to delete applicants, change user permisions, among others, are available</p>
          </div>
        </div>
      </div>

    </div>






  </div>

</div>







{% endblock %}
