{% extends "base.html" %}

{% block app_content %}

<div class="container">
  <div class="col-lg-12 mb-5">
    <h1 class="mt-5 mb-5" style='text-align: center;'> AI Multi‑Agent: Customer Segmentation & Marketing Planner <small>(Sep 2025)</small> </h1>
    <div style="float: right">
      <a href="https://www.kaggle.com/code/smlopezza/customer-segmentation-marketing-planner" class="btn btn-primary" target="_blank">Kaggle</a>
      <a href="https://github.com/smlopezza/AI_Agents_GoogleDevFest2025_LondonON" class="btn btn-primary" target="_blank">Github</a>
    </div>


    <h2> Summary </h2>
    <div class="row mb-5">

      <div class="col-lg-6 col-sm-6">
        <p>
          A multi‑agent AI system designed to segment customers and generate targeted marketing strategies using e‑commerce behavior data. 
          <br><br>Built as part of <a href="https://gdg.community.dev/events/details/google-gdg-london-presents-google-devfest-2025-london-building-safe-secure-and-scalable-solutions-with-ai-and-cloud/cohost-gdg-on-campus-western-university-london-canada" target="_blank">Google DevFest 2025 London</a>, this project supported a 90‑minute interactive workshop I led: <i>Agentic AI: Hands‑On with Gemini in Kaggle</i>. 
          <br><br>Participants learned how to build safe, scalable agent workflows using Gemini and Google Cloud tooling. 
      </div>

      <div class="col-lg-6 col-sm-12">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Kp9dEfKS12c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <!-- <iframe width="400" height="300" src="https://www.youtube.com/embed/HuU-sYjRX2U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
      </div>

    </div>


    <h2> Objective </h2>
    <p class='mb-4'>  Demonstrate how agentic AI can automate customer analysis and translate insights into actionable marketing plans—showcasing practical, enterprise‑ready use cases for multi‑agent systems. </p>

    <h2>Solution:</h2>
    <p class='mb-2'> The system uses coordinated agents to: 

      <ul>
        <li> Analyze customer behavior patterns </li>
        <li> Cluster users into meaningful segments </li>
        <li> Generate tailored marketing recommendations aligned with each group’s needs and value.</li>
      </ul>



    <div class="col-lg-6 mb-5 mt-5">
      <h2> Tools </h2>
      <ul>
        <li> Gemini API</li>
        <li> Goolge ADK</li>
        <li> Python</li> 
        <li> Kaggle </li>
      </ul>
    </div>

    <div class="col-lg-6 mb-5 mt-5">
      <h2>Achievements</h2>
      <ul>
        <li> Designed and delivered a 90‑minute DevFest workshop attended by students and early professionals. </li>
        <li> Built a fully functional multi‑agent workflow demonstrating the use of Gemini in Kaggle. </li>
        <li> Enabled hands‑on learning where participants deployed agents, generated insights, and produced marketing plans in real time. </li>
      </ul>
    </div>


    
  </div>

</div>







{% endblock %}
