{% extends "base.html" %}

{% block app_content %}

<div class="container">
  <div class="col-lg-12 mb-5">
    <h1 class="mt-5 mb-5" style='text-align: center;'> PhD Thesis at Western University <small>(Expected completion: Apr 2021)</small> </h1>

    <h2> Summary </h2>
    <div class="row mb-5">

      <div class="col-lg-6 col-sm-6">
        <p>
          My Ph.D. research is part of a collaborative project to solve a problem for one of the major Oil & Gas companies in Canada.
          I apply data analysis, mathematical modelling, Machine Learning and programming Python as tools to optimize the separation process.

      </div>

      <div class="col-lg-6 col-sm-12">
        <img src="{{ url_for('static', filename='images/ThesisWriting.jpg') }}" width="400" height="300" alt="...">
      </div>

    </div>

    <h2> Objective </h2>
    <p > To develop a mathematical model able to predict the behaviour of hydrocarbon/water mixtures using traditional methodologies in combination with machine learning techniques </p>

    <h2> Business Problem </h2>
    Hydrocarbon/water mixtures are not completely miscible. To optimize the separation improving process economy, it is needed to understand hydrocarbon/water mixtures behavior


    <h2> Business opportunities </h2>
    The opportunity is to:
      <ul class='mb-5'>
        <li> Apply statistics and machine learning for data analysis of experimental results  </li>
        <li> Identified opportunities for process optimization using mathematical modelling, statistics and data analysis </li>
        <li> Regression, classification and predictive analysis using machine learning and traditional techniques </li>
        <li> Continuous communication of research outputs to team and industry stakeholders </li>
        <li> Programing using Python (Pandas, Scikit-Learn, Matplotlib) and Matlab  </li>
      </ul>


    <div class="col-lg-6 mb-5">
      <h2> Tools </h2>
      <ul>
        <li> Python </li>
        <li> Pandas </li>
        <li> Scikit-learn </li>
        <li> Mathematical modelling </li>
        <li> Statistical analysis </li>

      </ul>
    </div>



    <div class="col-lg-6 mb-5">
      <h2>Achievements</h2>
      <ul>
        <li> I was the presenter for the results of our research at Canadian Chemical Engineering Conference 2020</li>
      </ul>
    </div>





  </div>

</div>







{% endblock %}
