{% extends "base.html" %}

{% block app_content %}

<div class="container">
  <div class="col-lg-12 mb-5">
    <h1 class="mt-5 mb-5" style='text-align: center;'> Recruit WebApp <small>(Oct 2019 - Aug 2020)</small> </h1>
    <div style="float: right">
      <a href="https://slopezza.pythonanywhere.com/" class="btn btn-primary" target="_blank">Demo</a>
    </div>

    <h2> Objective </h2>
    <p class='mb-4'>  Development of an API to improve the recruitment/training process of a local school bus company. </p>

    <h2>Business Problem:</h2>
    <p class='mb-2'> The company was using a MS Access application to track the progress of an applicant through to licensing and offer of employment for almost 10 years. After this period, different inefficiencies emerged as: </p>

      <ul>
        <li> The need of a portable solution available on tablets </li>
        <li> The need to move organization to paperless in its recruitment/training process </li>
        <li> The administrators required more flexibility in managing some of the data tables </li>
        <li> The organization required evidence (for audit purposes) that training modules are executed according to guidelines </li>
      </ul>


      <p class='mb-2'> There was an opportunity to redesign and rebuild Recruit Tracker as an web application that is easily accessed on any device through a URL. This new application has the ability to: </p>

      <ul>
        <li> Generate reports in CSV or PDF files, which can then be uploaded to other systems used within the company </li>
        <li> Users have persions and access according to their roles improving accountability</li>
        <li> Controls to ensure the users follow the processes were implemented to enforce the sequential delivery of training modules in the required amount of time. </li>
      </ul>




    <div class="col-lg-6 mb-5 mt-5">
      <h2> Tools </h2>
      <ul>
        <li> Flask (Python) </li>
        <li> SQL + SQLAlchemy </li>
        <li> Pandas </li>
        <li> HTML, CSS, JQuery </li>
        <li> Pythonanywhere </li>
      </ul>
    </div>

    <div class="col-lg-6 mb-5 mt-5">
      <h2>Achievements</h2>
      <ul>
        <li> Migration of the recruitment process and data base from Access to a Web Application </li>
        <li> Improvement traceability on the recruitmen and training processes implementing KPI </li>
        <li> Integration of SQL database to flask web application </li>
        <li> Deployment of API in Pythonanywhere and company servers </li>
      </ul>
    </div>


    <div class="col-lg-12 mb-5 mt-5">

      <div class="col-lg-3 mb-5 mt-5">
        <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/RecruitApp/Recruit_01.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Nultiple users login with different roles</p>
          </div>
        </div>
      </div>

    </div>






  </div>

</div>







{% endblock %}
