{% extends "base.html" %}

{% block app_content %}

<div class="container">
  <div class="col-lg-12 mb-5">
    <h1 class="mt-5 mb-5" style='text-align: center;'> PhD Thesis at Western University <small>(Expected completion: Dec 2020)</small> </h1>


    <h2> Objective </h2>
    <p > Collaborative project for a Canadian Oil & Gas company. My duties within the research include: </p>

      <ul class='mb-5'>
        <li> Applied statistics and machine learning for data analysis of experimental results  </li>
        <li> Identified opportunities for process optimization using mathematical modelling, statistics and data analysis </li>
        <li> Regression, classification and predictive analysis using machine learning and traditional techniques </li>
        <li> Continuous communication of research outputs to team and industry stakeholders </li>
        <li> Programing using Python (Pandas, Scikit-Learn, Matplotlib) and Matlab  </li>
      </ul>


    <div class="col-lg-6 mb-5">
      <h2> Tools </h2>
      <ul>
        <li> Python </li>
        <li> Pandas </li>
        <li> Scikit-learn </li>
        <li> Mathematical modelling </li>
        <li> Statistical analysis </li>

      </ul>
    </div>



    <div class="col-lg-6 mb-5">
      <h2>Achievements</h2>
      <ul>
        <li> I was the presenter for the results of our research at Canadian Chemical Engineering Conference 2020</li>
      </ul>
    </div>





  </div>

</div>







{% endblock %}
