{% extends "base.html" %}

{% block app_content %}

<div class="container">
  <div class="col-lg-12 mb-5">
    <h1 class="mt-5 mb-5" style='text-align: center;'> Microsoft AI Upskilling Journey <small>(May – Aug 2020)</small> </h1>
    <div style="float: right">
      <a href="https://www.youtube.com/watch?v=tGsH_uW9LU0&t=1s" class="btn btn-primary" target="_blank"> Sprint 6</a>
      <a href="https://www.youtube.com/watch?v=b8d9kq1JXdw" class="btn btn-primary" target="_blank"> Sprint 5</a>
      <a href="https://www.youtube.com/watch?v=Gg3VDPKOaGk&t=5s" class="btn btn-primary" target="_blank">Sprint 2</a>

      <a href="https://discover-ai-with-microsoft.agorize.com/en/challenges/upskilling-journey/pages/mini-challenges?lang=en" class="btn btn-primary" target="_blank">Agorize</a>
    </div>


    <h2> Summary </h2>
    <div class="row mb-5">

      <div class="col-lg-6 col-sm-6">
        <p> Our team participated in the <a href="https://discover-ai-with-microsoft.agorize.com/en/challenges/upskilling-journey/pages/mini-challenges?lang=en" target="_blank">MS Upskilling Journey</a> ran by
          <a href="https://discover-ai-with-microsoft.agorize.com/en/challenges/upskilling-journey/pages/mini-challenges?lang=en" target="_blank"> Agorize </a>. As part of the challenge we developed different projects using Azure Cognitive services. We made use of chatbots,
        image recognition, object recognition, etc. with the idea to propose a solution to the different problems proposed in each mini-challenge.
        Our team won the 6th Sprint, and the public award for the 2nd Sprint. I wrote a <a href="https://slopezza.medium.com/challenge-accepted-how-did-i-win-a-windows-surface-go-2-430ca4c419ab" target="_blank">blog post</a> related with this experience.
      </p>
      </div>

      <div class="col-lg-6 col-sm-12">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b8d9kq1JXdw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>


    <h2> Objective </h2>
    <p> To develop different projects involving machine learning and artificial intelligence tools from Microsoft Azure Cloud services </p>

    <h2> Sprints </h2>
    <p >
      Microsoft defined different topics for each of the six Sprints. Each team had to develop a solution to the problem that was presented to us</p>

      <ul class='mb-5'>
        <li> <a href="https://www.youtube.com/watch?v=tGsH_uW9LU0&t=1s" target="_blank"> Sprint 6 - AI in Production & Responsible AI:</a> (Winners) - We proposed to use Azure Computer Vision service to identify plates of cars with driving restrictions, helping authorities to ensure the compliance of "Pico y Placa" legislation.   </li>
        <li> <a href="https://www.youtube.com/watch?v=b8d9kq1JXdw"  target="_blank"> Sprint 5 - Language & Speech in AI:</a> We developed a chatbot to help increase awareness in Down Syndrome  </li>
        <li> <a href="https://www.youtube.com/watch?v=Gg3VDPKOaGk&t=5s"  target="_blank">Sprint 2 - Microsoft Azure & Earth wildlife:</a> (2nd place + audience award) - We used a pretrained wildlife detection model on Azure to detect animals in camera traps photographies </li>

      </ul>


    <div class="col-lg-6 mb-5">
      <h2> Tools </h2>
      <ul>
        <li> Flask (Python) </li>
        <li> Azure Cognitive Services </li>
        <li> Microsoft Azure: Cloud Computing Services </li>
        <li> Azure Websites </li>
      </ul>
    </div>



    <div class="col-lg-6 mb-5">
      <h2>Achievements</h2>
      <ul>
        <li> Winners of 6th Sprint, Public award 2nd Sprint – Total participants: 535 from 39 countries  </li>
        <li> Developed different projects using AI and Azure Cognitive Services </li>
        <li> Presented results to the public and jury using online tools </li>

      </ul>
    </div>





  </div>

</div>







{% endblock %}
