{% extends "base.html" %}

{% block app_content %}

<!-- Masthead -->


  <!-- Icons Grid -->




  <section class="showcase" style="padding: 50px;">
    <h1 class="mb-5" style='text-align: center;'> Portfolio </h1>
    <h5 class="mb-5" style="text-align: center;"> I have been working on some exciting projects, including consulting, challenges and my Ph.D. thesis</h5>

    <div class="row">
      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card1.jpg') }}" alt="Woman in a supermarket" height="200">
          <div class="card-body">
            <h4 class="card-title">Ph.D. Thesis</h4>
            <p class="card-text"> My PhD research at Western University is part of a collaborative project with a major Canadian Oil & Gas company. The objective of the project was to apply mathematical modelling and ML techniques to better understand hydrocarbon/water mixtures. </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_PhDThesis') }}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card3.jpg') }}" alt="Toronto view from the island" height="200">
          <div class="card-body">
            <h4 class="card-title"> Recruit WebApp</h4>
            <p class="card-text">I was the Lead Developer of an API to help a local school bus company in London, ON. The WebApp helped to improve and keep accountable the recruitment and training processes of the organization.</p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_RecruitApp')}}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card4.jpg') }}" alt="Smartsito website screenshot" height="200">
          <div class="card-body">
            <h4 class="card-title">Smartsito</h4>
            <p class="card-text"> Our team, “SmartSito” was one of the top 3 finalists in the Retail & E-commerce category for the 2020 Microsoft Discover AI Challenge: Smarter and Sustainable Economies.
                Smartsito attempts to reduce food waste using computer vision and a reward system. </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_Smartsito') }}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card2.jpg') }}" alt="Toronto view from the island" height="200">
          <div class="card-body">
            <h4 class="card-title">AI Upskilling Journey</h4>
            <p class="card-text">Our team "Team Lopez AI" was the winner for the 6th Sprint of Microsoft AI Upskilling Journey.</p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_Upskilling') }}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/card7.jpg') }}" alt="Smartsito website screenshot" height="200">
          <div class="card-body">
            <h4 class="card-title">Drain Tracker</h4>
            <p class="card-text"> I am the lead developer for a Drain Tracker webapp requiered for a local municipality. </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_Smartsito') }}" class="btn btn-primary disabled">In progress...</a>
          </div>
        </div>
      </div>



    </div>


    <div class="row" style="margin-top: 2%">



    </div>


  </section>



{% endblock %}
