{% extends "base.html" %}

{% block app_content %}

<!-- Masthead -->


  <!-- Icons Grid -->




  <section class="showcase" style="padding: 50px;">
    <h1 class="mb-5" style='text-align: center;'> Portfolio </h1>
    <h5 class="mb-5" style="text-align: center;"> I have been working on some exciting consulting projects as well as
      competitions, personal projects and my Ph.D. thesis.</h5>

    <div class="row">
      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <div class="card-header">
            Research
          </div>
          <img class="card-img-top" src="{{ url_for('static', filename='images/card1.jpg') }}" alt="Woman in a computer" >
          <div class="card-body">
            <h4 class="card-title">Ph.D. Thesis</h4>
            <p class="card-text">
              My Ph.D. research at Western University is part of a collaborative project with a major Canadian Oil & Gas company.
              The objective of the project was to apply mathematical modelling and ML techniques to better understand hydrocarbon/water mixtures.
              I used Python, applied statistics and ML for data analysis of experimental results.
              I was the presenter for the results of our research at Canadian Chemical Engineering Conference 2020.
            </p>
            <p class="card-text" > <b>Tools: </b> Python, Machine Learning (Sklearn), Mathematical Modelling</p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_PhDThesis') }}" class="btn btn-primary" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <div class="card-header">
            Paid Consulting Project
          </div>
          <img class="card-img-top" src="{{ url_for('static', filename='images/card3.jpg') }}" alt="School bus">
          <div class="card-body">
            <h4 class="card-title"> Recruit WebApp</h4>
            <p class="card-text">
              I work as a Lead Developer of web-based applications. The client of this project is a school bus company near London, ON.
              The objective is to replace an old MS Access database program with a WebApp.
              We developed a WebApp that helps to track applicants from when they apply for a job to when they get hired. I used MySQL for the database, Flask (python web framework) for the functionality and PythonAnywhere for testing deployment.
              The WebApp helped to implement more controls and transparency in the process. Now the project is in the pilot stage, with the App live on the company server
            </p>
            <p class="card-text" > <b>Tools: </b> Flask, SQL, PythonAnywhere</p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_RecruitApp')}}" class="btn btn-primary" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <div class="card-header">
            Paid Consulting Project
          </div>
          <img class="card-img-top" src="{{ url_for('static', filename='images/card7.jpg') }}" alt="Small canadian town" >
          <div class="card-body">
            <h4 class="card-title">Drain Tracker</h4>
            <p class="card-text">
              I work as a Lead Developer of web-based applications. The client of this project is a municipality near London.
              The objective of the project is to develop an asset management tool to keep track of the Drains infrastructure.
              The WebApp tracks the cost of repairs, and building of new drains. This project will involve migration of 20 years of data from the old system. And also involves eliminating a lot of manual input, improving speed and accuracy of reporting.

            </p>
            <p class="card-text" > <b>Tools: </b> Flask, SQL, PythonAnywhere </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_Smartsito') }}" class="btn btn-primary disabled">In progress...</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <div class="card-header">
            Competition
          </div>
          <img class="card-img-top" src="{{ url_for('static', filename='images/card4.jpg') }}" alt="Smartsito website screenshot">
          <div class="card-body">
            <h4 class="card-title">Smartsito</h4>
            <p class="card-text">
            Our team, “SmartSito” participated on the 2020 Microsoft Discover AI Challenge: Smarter and Sustainable Economies.
            The challenge was leveraging AI and Analytics to create smarter and sustainable economies.
            We proposed a solution to smartly reduce food waste and pitched our idea in front of specialized jury in business and AI.
            “SmartSito” was one of the top 3 finalists in the Retail & E-commerce category.
           </p>
            <p class="card-text" > <b>Tools: </b> Azure Cloud Services, Azure Web Apps</p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_Smartsito') }}" class="btn btn-primary" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <div class="card-header">
            Competition
          </div>
          <img class="card-img-top" src="{{ url_for('static', filename='images/card2.jpg') }}" alt="Robot">
          <div class="card-body">
            <h4 class="card-title">AI Upskilling Journey</h4>
            <p class="card-text">
              Our team "Team Lopez AI" participated in the 2020 Microsoft AI Upskilling Journey.
              The challenge was to develop different projects using ML, AI and Microsoft Azure Cloud services.
              We made use of chatbots, image recognition, object recognition, etc. with the idea to propose a solution to the different problems proposed in each mini-challenge.
              Our team won the 6th Sprint, and the public award for the 2nd Sprint.
            </p>
            <p class="card-text" > <b>Tools: </b> Azure Cloud Services, Cognitive Services (chatbot, image recognition)</p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_Upskilling') }}" class="btn btn-primary" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-6" style="margin-bottom: 2%;">
        <div class="card h-100">
          <div class="card-header">
            Competition
          </div>
          <img class="card-img-top" src="{{ url_for('static', filename='images/card8.png') }}" alt="Logeo app screenshot">
          <div class="card-body">
            <h4 class="card-title">Logeo</h4>
            <p class="card-text">
              Our team "Logeo" was part of the Aggregate Intellect GNN workshop.
              We developed a WebApp that automatically transform 2D logos to 3D using RigNet model.
              I was responsible for the deployment of the Flask REST API.
              We won the workshop competition for the quality and popularity of our work.
            </p>

            <p class="card-text">
                <b>Tools: </b> Flask, AWS, RigNet model
            </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('portfolio_Logeo') }}" class="btn btn-primary" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-header">
            Personal Project
          </div>
          <img class="card-img-top" src="{{ url_for('static', filename='images/card5.jpg') }}" alt="Jar with coins">
          <div class="card-body">
            <h4 class="card-title">Topic Modelling of Banking Transactions</h4>
            <p class="card-text">
              During my free time I enjoy working on improving my skills.
              The objective of this notebook is to analyze bank statements from my everyday banking account and my two credit cards.
              I used Topic Modelling to classify the transactions understand how my transactions have been affected by COVID 19.
              I improved my skills on NLP and Topic Modelling techniques.
            </p>

            <p class="card-text">
                <b>Tools: </b> Pandas, Scikit-Learn (LDA), Seaborn, Plotly
            </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('static', filename='playground/playground_BankTransactions.html') }}" class="btn btn-primary" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-header">
            Personal Project
          </div>
          <img class="card-img-top" src="{{ url_for('static', filename='images/card6.jpg') }}" alt="Wallet with credit cards" >
          <div class="card-body">
            <h4 class="card-title">Customer Segmentation</h4>
            <p class="card-text">
              During my free time I join online courses.
              The objective of this notebook is to perform customer segmentation using a credit card dataset from Kaggle.
              I used K-Means to cluster credit card clients
              and improved my skills on Customer Segmentation and ML techniques.
            </p>

            <p class="card-text">
              <b>Tools: </b> Pandas, Scikit-Learn (KMeans), Seaborn
            </p>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('static', filename='playground/playground_CustomerSegmentation.html') }}" class="btn btn-primary" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 2%">



    </div>


  </section>



{% endblock %}
